<div id="website">
    <h1 class="page-header">Website Development</h1>
    <div ng-include src="'view/left-sidebar.html'"></div>
    <div class="content-side">
        <h6 class="rem mrgt15">Setups</h6>
        <form name="formSetup" id="" novalidate method="post" enctype="multipart/form-data">
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-7">
                        <div class="row">
                            <label>Title</label>
                            <input type="text" class="form-control" id="wsTitle"
                                   ng-model="setup.wsTitle" name="setup[wsTitle]"
                                   ng-class="{'alert-border': ngErrorRequired(formSetup, 'setup[wsTitle]')}" required>
                            <label ng-show="ngErrorRequired(formSetup, 'setup[wsTitle]')"
                                   class="error">Title is required</label>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="row">
                            <label>Url</label>
                            <input type="text" class="form-control" id="wsUrl"
                                   auto-url="setup.wsTitle"
                                   ng-model="setup.wsUrl" name="setup[wsUrl]"
                                   ng-class="{'alert-border': ngErrorRequired(formSetup, 'setup[wsUrl]')}" required>
                            <label ng-show="ngErrorRequired(formSetup, 'setup[wsUrl]')"
                                   class="error">Unique name is required</label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <label>Meta Title</label>
                            <input type="text" class="form-control" id="wsMetaTitle"
                                   ng-model="setup.wsMetaTitle" name="setup[wsMetaTitle]"
                                   ng-class="{'alert-border': ngErrorRequired(formSetup, 'setup[wsMetaTitle]')}" required>
                            <label ng-show="ngErrorRequired(formSetup, 'setup[wsMetaTitle]')"
                                   class="error">Meta title is required</label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <label>Meta Description</label>
                            <input type="text" class="form-control" id="wsMetaTag"
                                   ng-model="setup.wsMetaDescription" name="setup[wsMetaDescription]"
                                   ng-class="{'alert-border': ngErrorRequired(formSetup, 'setup[wsMetaDescription]')}" required>
                            <label ng-show="ngErrorRequired(formSetup, 'setup[wsMetaDescription]')"
                                   class="error">Meta description is required</label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <label>Meta Keyword</label>
                            <input type="text" class="form-control" id="wsMetaKeyword"
                                   ng-model="setup.wsMetaKeyword" name="setup[wsMetaKeyword]"
                                   ng-class="{'alert-border': ngErrorRequired(formSetup, 'setup[wsMetaKeyword]')}" required>
                            <label ng-show="ngErrorRequired(formSetup, 'setup[wsMetaKeyword]')"
                                   class="error">Meta keyword is required</label>
                        </div>
                    </div>
                    <div class="row-fluid" ng-if="sidebar.isHomePage">
                        <div class="col-xs-7">
                            <div class="row">
                                <label>Promotion banner <small>(optional)</small></label>
                                <div class="col-xs-8">
                                    <div class="row">
                                        <input type="file" id="uxPromotionBanner" fileupload="fileupload_options">
                                        <input type="text" id="uxPromotionBannerText">
                                        <a href="#!" id="uxPromotionBannerDelete" class="input-text-delete" title="Delete">X</a>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="row">
                                        <a href="#!" class="button postfix error-nobdrl" id="uxPromotionBannerButton"
                                           ng-class=""> Choose File </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-11">
                            <div class="row">
                                <label>Facebook page <small>(optional)</small></label>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <input type="text" class="form-control" id="Facebook" placeholder="http://"
                                               ng-model="config.Facebook" name="config[Facebook]">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-11">
                            <div class="row">
                                <label>Google+ <small>(optional)</small></label>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <input type="text" class="form-control" id="Google" placeholder="http://"
                                               ng-model="config.Google" name="config[Google]">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-11">
                            <div class="row">
                                <label>Instagram <small>(optional)</small></label>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <input type="text" class="form-control" id="Instagram" placeholder="http://"
                                               ng-model="config.Instagram" name="config[Instagram]">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-11">
                            <div class="row">
                                <label>Twitter <small>(optional)</small></label>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <input type="text" class="form-control" id="Twitter" placeholder="http://"
                                               ng-model="config.Twitter" name="config[Twitter]">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-11">
                            <div class="row">
                                <label>YouTube <small>(optional)</small></label>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <input type="text" class="form-control" id="YouTube" placeholder="http://"
                                               ng-model="config.YouTube" name="config[YouTube]">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-11">
                            <div class="row">
                                <label>Skype Username <small>(optional)</small></label>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <input type="text" class="form-control" id="Skype"
                                               ng-model="config.Skype" name="config[Skype]">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-11">
                            <div class="row">
                                <label>Yahoo ID <small>(optional)</small></label>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <input type="text" class="form-control" id="Yahoo"
                                               ng-model="config.Yahoo" name="config[Yahoo]">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">

            </div>
            <input type="hidden" name="hotel_inf[manual_custom_css]" value="0">
            <input type="hidden" name="form_build_id" value="form-ORsbpSUgS35YmeAcw1vmRFahkHUhkXZouZI_SxVq0ww">
            <input type="hidden" name="form_token" value="ZFss94sgb5LMvHhbMVBe8EKcrpmYOqULbvIpqWWVZiw">
            <input type="hidden" name="form_id" value="development_setups_form">
        </form>

        <a class="button small" href="#!"
           ng-loading-button="saving_setups"
           completed-message="Saved!"
           ng-click="save(formSetup)">Save</a>
        <!--<span><img class="image-responsive" src="static/image/site/ajax-loader.gif" /></span>-->
    </div>
</div>
<div ng-include src="'view/modal/static-content.html'"></div>